<div class="menu-wrapper">
    <ul>
        <li><img src="/assets/images/note.png" alt=""></li>
        <li><img src="/assets/images/pinterest.png" alt=""></li>
        <li><img src="/assets/images/facebook.png" alt=""></li>
        <li><img src="/assets/images/feedback.png" alt=""></li>
        <li><img src="/assets/images/intasgram.png" alt=""></li>
        <li><img src="/assets/images/skype.png" alt=""></li>
        <li><img src="/assets/images/twitter.png" alt=""></li>
        <li><img src="/assets/images/yelp.png" alt=""></li>
    </ul>
</div>