#dashboard {
    margin-top: 100px;
}

#dashboard h2 {
    text-align: center;
}

#dashboard .col-sm-4 {
    padding: 10px;
}

.card-board {
    width: 78%;
    height: 200px;
    background-color: #fff;
    position: relative;
    float: right;
    cursor: pointer;
}

.card-board button {
    width: 150px;
    height: 150px;
    border: 10px solid #e2e4e6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 99;
    padding: 0;
}

.card-board button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card-text {
    position: absolute;
    right: 0;
    top: 55%;
    -webkit-transform: translate(-24%, -15%);
    -ms-transform: translate(-24%, -15%);
    transform: translate(-24%, -15%);
    text-align: right;
    z-index: 100;
}

.card-text span {
    font-size: 30px;
}

.card-text small {
    font-size: 16px;
}

img.bg-img {
    width: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 768px) {
    #dashboard {
        margin-top: 25px;
    }
    .card-board {
        width: 95%;
        margin-right: 10px;
    }
    .card-board button {
        -webkit-transform: translate(-20%, -50%);
        -ms-transform: translate(-20%, -50%);
        transform: translate(-20%, -50%);
    }
}

@media (max-width: 480px) {
    .card-board {
        width: 93%;
    }
}