<div class="container" id="dashboard">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-sm-4 col-xs-12" (mouseover)='overShadowFn()' (mouseleave)='leaveShadowFn()' (click)="navigateFn(['infra', 'note'])">
            <div class="card-board">
                <button><img src="/assets/images/1.jpg"/></button>
                <img src="/assets/images/wave.jpg" class="bg-img" />
                <div class="card-text">
                    <span>Questions</span><br>
                    <small>Note</small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12" (mouseover)='overShadowFn()' (mouseleave)='leaveShadowFn()'>
            <div class="card-board">
                <button><img src="/assets/images/2.jpg"/></button>
                <img src="/assets/images/wave.jpg" class="bg-img" />
                <div class="card-text">
                    <span>Questions</span><br>
                    <small>Note</small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12" (mouseover)='overShadowFn()' (mouseleave)='leaveShadowFn()'>
            <div class="card-board">
                <button><img src="/assets/images/3.jpg"/></button>
                <img src="/assets/images/wave.jpg" class="bg-img" />
                <div class="card-text">
                    <span>Questions</span><br>
                    <small>Note</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12" (mouseover)='overShadowFn()' (mouseleave)='leaveShadowFn()'>
            <div class="card-board">
                <button><img src="/assets/images/4.jpg"/></button>
                <img src="/assets/images/wave.jpg" class="bg-img" />
                <div class="card-text">
                    <span>Questions</span><br>
                    <small>Note</small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12" (mouseover)='overShadowFn()' (mouseleave)='leaveShadowFn()'>
            <div class="card-board">
                <button><img src="/assets/images/5.jpg"/></button>
                <img src="/assets/images/wave.jpg" class="bg-img" />
                <div class="card-text">
                    <span>Questions</span><br>
                    <small>Note</small>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12" (mouseover)='overShadowFn()' (mouseleave)='leaveShadowFn()'>
            <div class="card-board">
                <button><img src="/assets/images/6.jpg"/></button>
                <img src="/assets/images/wave.jpg" class="bg-img" />
                <div class="card-text">
                    <span>Questions</span><br>
                    <small>Note</small>
                </div>
            </div>
        </div>
    </div>
</div>