<div class="container-wrapper" [style.height.px]="innerHeight" [style.width.px]="innerWidth" [style.top.px]="topPosition" [style.left.px]="leftPosition" (window:resize)="onResize($event)">
    <div class="row">
        <div class="col-sm-6 col-xs-12" [style.height.px]="innerHeight/2">
            <app-note (maximize)="onMaximize($event)" [noteType]="'chart'">
                <app-chart [infra]="infra"></app-chart>
            </app-note>
        </div>
        <div class="col-sm-6 col-xs-12" [style.height.px]="innerHeight/2">
            <app-note (maximize)="onMaximize($event)" [noteType]="'information'">
                <app-information [infra]="infra"></app-information>
            </app-note>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12" [style.height.px]="innerHeight/2">
            <app-note (maximize)="onMaximize($event)" [noteType]="'news'">
                <app-news [infra]="infra"></app-news>
            </app-note>
        </div>
        <div class="col-sm-6 col-xs-12" [style.height.px]="innerHeight/2">
            <app-note (maximize)="onMaximize($event)" [noteType]="'advertisement'">
                <app-advertisement [infra]="infra"></app-advertisement>
            </app-note>
        </div>
    </div>
</div>

<div class="container-wrapper" style="background: #fff;" *ngIf="!isHide" [style.height.px]="innerHeight" [style.width.px]="innerWidth" [style.top.px]="topPosition" [style.left.px]="leftPosition" (window:resize)="onResize($event)">
    <app-note-full-page (minimize)="onMinimize($event)">
        <app-chart *ngIf="type == 'chart'" [infra]="infra" [isFull]="true"></app-chart>
        <app-information *ngIf="type == 'information'" [infra]="infra" [isFull]="true"></app-information>
        <app-news *ngIf="type == 'news'" [infra]="infra"></app-news>
        <app-advertisement *ngIf="type == 'advertisement'" [infra]="infra"></app-advertisement>
    </app-note-full-page>
</div>